doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title !{title}

table(style='margin-top:50px; font-family: \'Montserrat\', sans-serif;' width='100%' border='0' align='center' cellpadding='0' cellspacing='0' margin)
    tbody
        tr
            td(align='center')
                table(style='border-radius:.75rem .75rem 0 0;overflow:hidden;border-color: rgb(249, 124, 90);' width='1000' border='0' align='center' cellpadding='0' cellspacing='0')
                    tbody
                        tr
                            td(align='center' valign='top')
                                table(width='1000' border='0' align='center' cellpadding='0' cellspacing='0')
                                    tbody
                                        tr(style='background-color: #fff7f3;')
                                            td(align='center' style='line-height: 0px;')
                                                img(style='display:block; line-height:0px; font-size:0px; border:0px;' src='../../assets/header.png' width='250' height='200' alt='logo')
        tr
            td(align='center')
                table(bgcolor='#ffffff' width='1000' border='0' align='center' cellpadding='10' cellspacing='0' style='border-radius: 0% 0% .75rem .75rem; margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;border-bottom: 1px solid #dbd9d9; padding: 50px 70px;')
                    tbody
                        tr
                            td
                                | !{content}
